<p><%= number_with_delimiter @domains.analyzed.count %>
   <%= params[:tld].downcase %>
   domains
   <%= "(#{@tld.join(', ')})" if @tld.kind_of? Array %>
   have been analyzed. </p>

<%= render "shared/column", :title => "Frameworks",
               :data => @distribution[:framework],
               :tooltip => "'<b>'+ addSpaces(this.y) + '</b> domains are powered by <b>'+ this.x +'</b>. '",
               :x_title => "Framework", :y_title => "Domains",
               :description => 'There are many ways to detect a framework.
                    For example some frameworks add X-Powered-By HTTP header, some set unique cookie name or
                    provide HTTP generator meta tag. Often the only reliable way
                    is the directory structure of stylesheets, javascripts or images.
                    Unique names of HTML element classes can also be used.
                    <b>Framework detection is not reliable.</b>' %>

<%= render "shared/column", :title => "Javascript libraries",
               :data => @distribution[:feature],
               :tooltip => "'<b>'+ addSpaces(this.y) + '</b> domains use <b>'+ this.x +'</b>. '",
               :x_title => "Library", :y_title => "Domains",
               :description => 'Javascript libraries can be detected from file names of included scripts or
                                in some cases from inline script code  (Google Analytics UA-* identifier).
                                Detection is more reliable here.' %>

<%= render "shared/pie", :title => "Servers",
               :data => @distribution[:server],
               :total => @domains.count,
               :description => 'Detected from Server header, although this header is often hidden for security reasons.' %>

<%= render "shared/pie", :title => "Languages",
               :data => @distribution[:engine],
               :total => @domains.count,
               :description => 'Detected from X-Powered-By header, set cookie name or retroactively from framework.' %>

<%= render "shared/pie", :title => "Doctypes",
               :data => @distribution[:doctype],
               :total => @domains.count,
               :description => "&lt;!DOCTYPE html&gt; is used on #{number_with_delimiter @html5} domains,
                                that is #{number_to_percentage(@html5.to_f * 100 / @domains.count, :precision => 2)}. "%>

<%= render "shared/pie", :title => "AAAA record",
               :data => @distribution[:ipv6],
               :total => @domains.count,
               :description => 'Domains with an AAAA DNS record are probably IPv6-ready. ' %>

<%= render "shared/pie", :title => "Countries",
               :data => @distribution[:country],
               :total => @domains.count,
               :description => 'Hosting server location can be determined using geoiplocation.
                                Country-precision location is reliable. ' %>

<%= render "shared/column", :title => "Cities",
               :data => @distribution[:city],
               :tooltip => "'<b>'+ addSpaces(this.y) + '</b> domains are hosted in <b>'+ this.x +'</b>.' ",
               :x_title => "City", :y_title => "Domains",
               :description => 'Finer city-precision location can be very inaccurate.
                                These numbers and map markers are not to be taken seriously. ' %>

<article class="block" >
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
</article>
