<!DOCTYPE html>
<html>
<head itemscope itemtype="http://schema.org/Article">
    <title><%= title %></title>

    <meta name="Description" content="What frameworks and javascript libraries
                    are used on the Internet? What are the most common languages,
                    web servers and doctypes? Where are those domains hosted?
                    Statscrawler works hard to find out. ">
    <meta name="Keywords" content="domains, frameworks, statistics">

    <meta charset="UTF-8">

    <meta property="og:title" content="Statscrawler.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.statscrawler.com" />
    <meta property="og:image" content="http://www.statscrawler.com/images/statscrawler.jpg" />
    <meta property="og:site_name" content="Statscrawler.com" />
    <meta property="fb:admins" content="1411605555" />

    <!-- Add the following three tags inside head -->
    <meta itemprop="name" content="Statscrawler.com">
    <meta itemprop="description" content="Which frameworks and javascript libraries are used in the Internet? Which are the most common doctypes, languages and web servers? Where are domains hosted? Statscrawler works hard to find out.">
    <meta itemprop="image" content="http://www.statscrawler.com/images/statscrawler.jpg">

    <%= stylesheet_link_tag "application" %>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19447596-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

    <%= csrf_meta_tag %>
</head>
<body class="<%= params[:controller] %>">
    <div id="page">
        <%= cache('layout_header') do %>
          <header>
              <div id="description">What frameworks and javascript libraries
                      are used on the Internet? What are the most common languages,
                      web servers and doctypes? Where are those domains hosted?
                      Statscrawler works hard to find out. </div>
              <a href="/" id="logo">
                  <h1>Statscrawler.com</h1>
              </a>
              <div id="slogan">Analyzed <%= number_with_delimiter(Domain.analyzed.count) %> domains and analyzing more...</div>
          </header>
        <% end %>

        <section id="bar">
           <div id="analyze">
               <%= form_tag(search_domains_path, :method => :get) do %>
                    <%= text_field_tag :name, params[:name],
                                       :placeholder => 'Domain you are interested in...',
                                       :title => 'Domain you are interested in...' %>
                    <%= submit_tag "Search", :name => nil %>
                <% end %>
           </div>

            <nav>
                <ul>
                    <% for tld in COUNTRIES.keys %>
                        <%= item tld.titleize, tld %>
                    <% end %>
                </ul>
            </nav>
        </section>

        <section id="content">
            <%= yield %>

            <% unless @task %>
                <div id="links">
                    <div class="left">
                        <!-- Place this tag where you want the +1 button to render -->
                        <div class="g-plusone" data-size="medium" data-href="http://www.statscrawler.com"></div>
                        <!-- Place this render call where appropriate -->
                        <script type="text/javascript">
                          (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                          })();
                        </script>
                    </div>

                    <div class="left">
                        <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.statscrawler.com" data-text="Which frameworks and javascript libraries are used in the Internet?" data-count="horizontal" data-via="martinliptak">Tweet</a>
                        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    </div>

                    <div class="left">
                        <div id="fb-root"></div>
                        <script>(function(d){
                          var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                          js = d.createElement('script'); js.id = id; js.async = true;
                          js.src = "//connect.facebook.net/en_US/all.js#appId=273271292691174&xfbml=1";
                          d.getElementsByTagName('head')[0].appendChild(js);
                        }(document));</script>
                        <div class="fb-like" data-href="http://www.statscrawler.com" data-layout="button_count" data-width="200" data-show-faces="true" data-font="verdana"></div>
                    </div>

                    <div class="right">
                        <%= link_to 'All countries', countries_domains_path %>
                        <%= link_to 'All domains', search_domains_path(:name => '') %>
                        <a href="#page" id="move-to-top">Move to top &uArr;</a>
                    </div>

                    <div class="clear"></div>
                </div>
            <% end %>
        </section>

        <footer>
            <%= link_to image_tag('/images/wslogo.png'), 'http://www.websupport.sk' %>
            Stats were collected in September 2011 by <a href="http://twitter.com/martinliptak">@martinliptak</a>.
            Any feedback will be highly appreciated. If you are interested in how our framework detection works, 
            you can check out <a href="https://github.com/martinliptak/framework_guesser">Github</a>.
            Virtual server for crawling has been provided by <a href="http://www.websupport.sk">Websupport</a>.
        </footer>
    </div>

    <%= javascript_include_tag "application" %>
    <% if @markers %>
        <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAA9-Lvh5WJtsyno-YPYz4KGhT7Mm9jvC1MN0_1hJyoJMlcuJZMABShSxDaWr83qoSWsHLK_1GFQ60BiQ" type="text/javascript"></script>
        <%= javascript_include_tag 'map' %>
    <% end %>
</body>
</html>
